*{
  margin: 0;
  padding: 0;
}

html body{
    background-image: linear-gradient(90deg, #423385, #59358f, #423385);
    color: white;
    font-family: 'Public Sans', sans-serif !important;
}
.overskrift{
    font-family: 'Public Sans', sans-serif !important;
}

a:link{
    color: white;
}

a:visited {
    color: white;
}
a:hover{
    color: #f78f46 !important;
}
a:active{
    color: white;
}
a:link{
    color: white;
}
a:visited {
    color: white;
}
a:hover{
    color: #f78f46 !important;
}
a:active{
    color: white;
}
.navbar-custom{
    background: #6a63a3;
    color: white;


}
.topnav-right {
    float: right;
    color: white;
}
.topnav-right a{
    margin-left:1em;
    margin-right:0.5em;
}
.topnav-right {
    float: right;
    color: white;
}
.topnav-right a{
    margin-left:1em;
    margin-right:0.5em;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: #f78f46 !important;
    border-color: #f78f46 !important;
    margin-right: 1em;
    margin-left: 1em;
    margin-top: 1em;
    color: white !important;
}
.knapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.overskrift {
    margin-top: 5em;
    text-align: center;
    font-family: 'Playfair Display', serif;

}


.container {
    margin-top: 5em;
    width: 50% !important;
}
.card-img-top {
    width: 50% !important;
}
.card-text {
    font-style: italic;
}

.file{
  height: -webkit-fill-available;
  position: absolute;
  left: 0;
  top: 0;
}

.filepage{
  height: 100%;
  width: 100%;
  overflow: hidden;
}